#mid {
  margin: auto auto;
  width : 70%;
  text-align: center;
  background-color: peachpuff;
}
#disc {
  font-weight: bold;
  padding: 0% 43%;
  width: 30%;
}
#signup {
  font-weight: bold;
  padding: 5% 43%;
  max-width: auto;
}

